In [193]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import neattext.functions as nfx
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity,linear_kernel

In [194]:
UDEMY_COUSE_DATA_PATH = r"C:\Users\raksh\Desktop\ashray\Course-Recommendation-And-Sentiment-Analysis\data\udemy_course_data.csv"
UDEMY_2 = r"C:\Users\raksh\Desktop\ashray\Course-Recommendation-And-Sentiment-Analysis\data\udemy (2).csv"

In [195]:
df1 = pd.read_csv(UDEMY_COUSE_DATA_PATH)
df3 = pd.read_csv(UDEMY_2)

In [196]:
df3.head(2)

,course title,course url,course description,Ratings,reviews,duration,Lectures,course level,instructors
0,Machine Learning A-Z™: Hands-On Python & R In ...,https://www.udemy.com/course/machinelearning/,Learn to create Machine Learning Algorithms in...,Rating: 4.6 out of 5,161655 reviews,44.5 total hours,320 lectures,All Levels,"Kirill Eremenko, Hadelin de Ponteves, Ligency ..."
1,Python for Data Science and Machine Learning B...,https://www.udemy.com/course/python-for-data-s...,"Learn how to use NumPy, Pandas, Seaborn , Matp...",Rating: 4.6 out of 5,119789 reviews,25 total hours,165 lectures,All Levels,Jose Portilla

In [197]:
df1.head(2)

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject,profit,published_date,published_time,year,month,day
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5 hours,2017-01-18T20:58:58Z,Business Finance,429400,2017-01-18,20:58:58Z,2017,1,18
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39 hours,2017-03-09T16:34:20Z,Business Finance,209400,2017-03-09,16:34:20Z,2017,3,9

In [198]:
df1 = df1.drop(columns=['course_id', 'is_paid', 'num_subscribers', 'published_timestamp', 'profit', 'published_date', 'published_time', 'year', 'month', 'day'],axis=1)

In [199]:
df3 = df3.drop(columns=['course description', 'Ratings', 'instructors'])

In [200]:
df3.columns

Index(['course title', 'course url', 'reviews', 'duration', 'Lectures',
       'course level'],
      dtype='object')

In [201]:
num_values = 2791  # Specify the number of random values you want
random_values = np.random.randint(low=0, high=200, size=num_values)
df4 = pd.DataFrame({'price': random_values})
df4

      price
0       137
1        43
2       174
3       182
4        67
...     ...
2786     31
2787     45
2788    164
2789     25
2790    150

[2791 rows x 1 columns]

In [202]:
df3 = pd.concat([df3, df4], axis=1)

In [203]:
df1.rename(columns={'level':'course level','content_duration':'duration','num_reviews':'reviews','num_lectures':'Lectures'}, inplace=True)

In [204]:
df3.rename(columns={'course title': 'course_title', 'course url':'url'}, inplace=True)

In [205]:
df3.head(2)

,course_title,url,reviews,duration,Lectures,course level,price
0,Machine Learning A-Z™: Hands-On Python & R In ...,https://www.udemy.com/course/machinelearning/,161655 reviews,44.5 total hours,320 lectures,All Levels,137
1,Python for Data Science and Machine Learning B...,https://www.udemy.com/course/python-for-data-s...,119789 reviews,25 total hours,165 lectures,All Levels,43

In [206]:
df1.head(2)

,course_title,url,price,reviews,Lectures,course level,duration,subject
0,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,200,23,51,All Levels,1.5 hours,Business Finance
1,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,75,923,274,All Levels,39 hours,Business Finance

In [207]:
df3['reviews'] = df3['reviews'].str.replace('reviews', '')
df3['reviews'] = df3['reviews'].str.replace('review', '')
df3['duration'] = df3['duration'].str.replace('total', '')
df3['Lectures'] = df3['Lectures'].str.replace('lectures', '')
df3

,course_title,url,reviews,duration,Lectures,course level,price
0,Machine Learning A-Z™: Hands-On Python & R In ...,https://www.udemy.com/course/machinelearning/,161655,44.5 hours,320,All Levels,137
1,Python for Data Science and Machine Learning B...,https://www.udemy.com/course/python-for-data-s...,119789,25 hours,165,All Levels,43
2,The Data Science Course 2022: Complete Data Sc...,https://www.udemy.com/course/the-data-science-...,111891,32 hours,517,All Levels,174
3,R Programming A-Z™: R For Data Science With Re...,https://www.udemy.com/course/r-programming/,47444,10.5 hours,83,All Levels,182
4,Deep Learning A-Z™: Hands-On Artificial Neural...,https://www.udemy.com/course/deeplearning/,40993,22.5 hours,174,All Levels,67
...,...,...,...,...,...,...,...
2786,Learn Python along with EDA for Indian beginners,https://www.udemy.com/course/eda-with-python/,2,1.5 hours,11,All Levels,31
2787,AutoViMLによる分類モデル/回帰モデル作成講座:【AutoML/Python/SIGN...,https://www.udemy.com/course/autoviml-rc-learn...,2,1 hour,18,Intermediate,45
2788,Python ile Twitter Verilerini Kazımak,https://www.udemy.com/course/pythontwitterscra...,1,1 hour,5,Intermediate,164
2789,EDA for Neurons,https://www.udemy.com/course/eda-for-neurons/,1,1.5 hours,5,Intermediate,25
2790,Görüntü İşleme (OpenCV) Giriş Eğitimi,https://www.udemy.com/course/goruntu-isleme-op...,0,44 mins,10,Beginner,150

In [208]:
df3.head(2)

,course_title,url,reviews,duration,Lectures,course level,price
0,Machine Learning A-Z™: Hands-On Python & R In ...,https://www.udemy.com/course/machinelearning/,161655,44.5 hours,320,All Levels,137
1,Python for Data Science and Machine Learning B...,https://www.udemy.com/course/python-for-data-s...,119789,25 hours,165,All Levels,43

In [209]:
desired_order = ['course_title', 'url', 'price','reviews','duration','Lectures','course level']
df3 = df3[desired_order]
df3.head(2)

,course_title,url,price,reviews,duration,Lectures,course level
0,Machine Learning A-Z™: Hands-On Python & R In ...,https://www.udemy.com/course/machinelearning/,137,161655,44.5 hours,320,All Levels
1,Python for Data Science and Machine Learning B...,https://www.udemy.com/course/python-for-data-s...,43,119789,25 hours,165,All Levels

In [210]:
desired_order_2 = ['course_title','url','price','reviews','duration','Lectures','course level', 'subject']
df1 = df1[desired_order_2]
df1.head(2)

,course_title,url,price,reviews,duration,Lectures,course level,subject
0,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,200,23,1.5 hours,51,All Levels,Business Finance
1,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,75,923,39 hours,274,All Levels,Business Finance

In [211]:
df_3 = df3.copy()

In [212]:
df3['subject'] = 'Data Science'
df3.head(2)

,course_title,url,price,reviews,duration,Lectures,course level,subject
0,Machine Learning A-Z™: Hands-On Python & R In ...,https://www.udemy.com/course/machinelearning/,137,161655,44.5 hours,320,All Levels,Data Science
1,Python for Data Science and Machine Learning B...,https://www.udemy.com/course/python-for-data-s...,43,119789,25 hours,165,All Levels,Data Science

In [213]:
df3.head()

,course_title,url,price,reviews,duration,Lectures,course level,subject
0,Machine Learning A-Z™: Hands-On Python & R In ...,https://www.udemy.com/course/machinelearning/,137,161655,44.5 hours,320,All Levels,Data Science
1,Python for Data Science and Machine Learning B...,https://www.udemy.com/course/python-for-data-s...,43,119789,25 hours,165,All Levels,Data Science
2,The Data Science Course 2022: Complete Data Sc...,https://www.udemy.com/course/the-data-science-...,174,111891,32 hours,517,All Levels,Data Science
3,R Programming A-Z™: R For Data Science With Re...,https://www.udemy.com/course/r-programming/,182,47444,10.5 hours,83,All Levels,Data Science
4,Deep Learning A-Z™: Hands-On Artificial Neural...,https://www.udemy.com/course/deeplearning/,67,40993,22.5 hours,174,All Levels,Data Science

In [214]:
# df3['course level'] = df3['course level'].str.replace('Intermediate', 'Intermediate Level')
# df3['course level'] = df3['course level'].str.replace('Beginner', 'Beginner Level')

In [215]:
# df3['course_title'] = df3['course_title'].astype(str)

In [216]:
# df3['course_title'] = df3['course_title'].apply(nfx.remove_hashtags)

In [217]:
# df3['course_title'] = df3['course_title'].apply(nfx.remove_stopwords)
# df3['course_title'] = df3['course_title'].apply(nfx.remove_punctuations)
# df3['course_title'] = df3['course_title'].apply(nfx.remove_numbers)
# df3['course_title'] = df3['course_title'].apply(nfx.remove_special_characters)
# df3

In [218]:
df = pd.concat([df1,df3],ignore_index=True)
df

,course_title,url,price,reviews,duration,Lectures,course level,subject
0,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,200,23,1.5 hours,51,All Levels,Business Finance
1,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,75,923,39 hours,274,All Levels,Business Finance
2,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,45,74,2.5 hours,51,Intermediate Level,Business Finance
3,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,95,11,3 hours,36,All Levels,Business Finance
4,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,200,45,2 hours,26,Intermediate Level,Business Finance
...,...,...,...,...,...,...,...,...
6469,Learn Python along with EDA for Indian beginners,https://www.udemy.com/course/eda-with-python/,31,2,1.5 hours,11,All Levels,Data Science
6470,AutoViMLによる分類モデル/回帰モデル作成講座:【AutoML/Python/SIGN...,https://www.udemy.com/course/autoviml-rc-learn...,45,2,1 hour,18,Intermediate,Data Science
6471,Python ile Twitter Verilerini Kazımak,https://www.udemy.com/course/pythontwitterscra...,164,1,1 hour,5,Intermediate,Data Science
6472,EDA for Neurons,https://www.udemy.com/course/eda-for-neurons/,25,1,1.5 hours,5,Intermediate,Data Science
6473,Görüntü İşleme (OpenCV) Giriş Eğitimi,https://www.udemy.com/course/goruntu-isleme-op...,150,0,44 mins,10,Beginner,Data Science

In [219]:
df = df.dropna(subset=['course_title'])
df = df.dropna(subset=['course level'])

In [220]:
df.columns

Index(['course_title', 'url', 'price', 'reviews', 'duration', 'Lectures',
       'course level', 'subject'],
      dtype='object')

In [221]:
df.isnull().sum()

course_title    0
url             0
price           0
reviews         0
duration        0
Lectures        0
course level    0
subject         0
dtype: int64

In [222]:
df.dropna(inplace=True)

In [223]:
df.isnull().sum()

course_title    0
url             0
price           0
reviews         0
duration        0
Lectures        0
course level    0
subject         0
dtype: int64

In [225]:
df.to_csv('final_data.csv',index=False)

In [149]:
df.isna().sum()

course_title    0
url             0
price           0
reviews         0
duration        0
Lectures        0
course level    0
subject         0
dtype: int64

In [190]:
df_final= pd.read_csv(r'C:\Users\raksh\Desktop\ashray\Course-Recommendation-And-Sentiment-Analysis\data\Udemy_final.csv')

In [191]:
df_final

,course_title,url,price,reviews,duration,Lectures,course level,subject
0,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,200,23,1.5 hours,51,All Levels,Business Finance
1,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,75,923,39 hours,274,All Levels,Business Finance
2,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,45,74,2.5 hours,51,Intermediate Level,Business Finance
3,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,95,11,3 hours,36,All Levels,Business Finance
4,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,200,45,2 hours,26,Intermediate Level,Business Finance
...,...,...,...,...,...,...,...,...
6452,Learn Python along with EDA for Indian beginners,https://www.udemy.com/course/eda-with-python/,107,2,1.5 hours,11,All Levels,Data Science
6453,AutoViMLによる分類モデル/回帰モデル作成講座:【AutoML/Python/SIGN...,https://www.udemy.com/course/autoviml-rc-learn...,120,2,1 hour,18,Intermediate,Data Science
6454,Python ile Twitter Verilerini Kazımak,https://www.udemy.com/course/pythontwitterscra...,81,1,1 hour,5,Intermediate,Data Science
6455,EDA for Neurons,https://www.udemy.com/course/eda-for-neurons/,148,1,1.5 hours,5,Intermediate,Data Science
6456,Görüntü İşleme (OpenCV) Giriş Eğitimi,https://www.udemy.com/course/goruntu-isleme-op...,52,0,44 mins,10,Beginner,Data Science

In [152]:
df_final.columns

Index(['course_title', 'url', 'price', 'reviews', 'duration', 'Lectures',
       'course level', 'subject'],
      dtype='object')

In [192]:
df_final.isna().sum()

course_title    0
url             0
price           0
reviews         0
duration        0
Lectures        0
course level    0
subject         0
dtype: int64

In [154]:
df_final.dropna(inplace=True)

In [157]:
df_final.isna().sum()

course_title    0
url             0
price           0
reviews         0
duration        0
Lectures        0
course level    0
subject         0
dtype: int64

In [158]:
df.to_csv('Udemy_final_data.csv',index=False)

In [159]:
df_final= pd.read_csv(r'C:\Users\raksh\Desktop\ashray\Course-Recommendation-And-Sentiment-Analysis\notebooks\Udemy_final_data.csv')
df_final.isna().sum()

course_title    18
url              0
price            0
reviews          0
duration         0
Lectures         0
course level     0
subject          0
dtype: int64